# exclude gurobi.py
gurobipy.pyd

# exclude Compiled Python File
*.pyc

# Untracked directory
CHAM_BDPT_Original
SIMON_BDPT_Original
QTL_BDPT_Original

# Untracked File
Shadow_BDPT/SCBDP.py
Shadow_BDPT/test.py

# exclude LP file
*.lp

# exclude Result text file in Shadow_BDPT
Shadow_BDPT/*.txt

# exclude executable file
a.out
